project_name: my_django_app
domain: example.com

project_path: /var/www/my_django_app
venv_path: /var/www/my_django_app/venv

static_path: /var/www/my_django_app/static
media_path: /var/www/my_django_app/media

requirements_path: /var/www/my_django_app/requirements.txt
manage_py_path: /var/www/my_django_app/manage.py

gunicorn_module: config.wsgi:application
port: 8000

service_user: www-data
service_group: www-data

# Optional:
# workers: 3
# threads: 2

# SSL / Certbot
ssl_email: admin@example.com

# Set true only if www.example.com also points to this server.
ssl_include_www: false
